snippet event_class
    public class ClientManager extends EventDispatcher {
        //---------------------------------------------------------------------
        //
        // Metadata
        //
        //---------------------------------------------------------------------

        //------------------------------
        // Events
        //------------------------------

        //---------------------------------------------------------------------
        //
        // Properties/Data
        //
        //---------------------------------------------------------------------

        //---------------------------------------------------------------------
        //
        // Public Methods
        //
        //---------------------------------------------------------------------


        //---------------------------------------------------------------------
        //
        // Private Methods
        //
        //---------------------------------------------------------------------
}
